<!DOCTYPE html>
<html lang='en'>
<head>
    <% include _partials/header.ejs %>
    <link rel='stylesheet' href='/css/project.css'>
    <script type='text/javascript' src='/javascript/project.js'></script>
</head>
<body ng-app=''>
    <% include _partials/navbar.ejs %>
    <main>
        <div class='row'>
          <div class="col-lg-9 col-lg-offset-1 col-md-9 col-sm-9">
            <ul id='project-list' class='list-unstyled'>
                <li id="project-<%= project._id %>">
                  <h1><a href='#'><%= project.name %></a></h1>
                  <p><%= project.content %></p>
                  <img class='img-responsive' src='<%= project.image %>'>
                  <p class='text-muted'>Created by <code><%= project.created.user.first_name + ' ' + project.created.user.last_name %></code> at <code><%= project.created.date.toUTCString() %></code></p>
                  <p class='text-muted'>Last modified by <code><%= project.modified.user.first_name + ' ' + project.modified.user.last_name %></code> at <code><%= project.modified.date.toUTCString() %></code></p>
                </li>
            </ul>
          </div>
        </div>
    </main>
    <div class="container pull-left">
      <div class="row">
        <div class="col-xs-12" >
          <div class="panel panel-info">
              <div class="panel-heading">
                RECENT CHAT HISTORY
              </div>
              <div class="panel-body">
              <ul id='chatlog' class='media-list'></ul>
              </div>
              <div class="panel-footer">
                <div id='chatbox' class='input-group'>
                  <span class='input-group-addon'>Message</span>
                  <input type='text' class='form-control'>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% include _partials/edit-project-modal.ejs %>
    <% include _partials/delete-project-modal.ejs %>
</body>
</html>
